@import "../../colors.scss";

.custom-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--bs-body-bg);
    z-index: 1000;
    border-bottom: 5px solid var(--custom-primary) !important;
}

::ng-deep #navbarNav .nav-item .nav-link.active {
  color: var(--custom-primary);
}

::ng-deep #navbarNav .nav-item .nav-link {
  color: var(--bs-body-color);
}

@media (max-width: 768px) {

  .navbar-brand {
    font-size: calc(var(--bs-navbar-brand-font-size) * 0.8);
    max-width: 220px;
    overflow-wrap: normal;
    white-space: normal;
    text-overflow: unset;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
