<footer class="bg-dark text-white border-top">
  <div class="container py-4">
    <div class="row">
      @for (section of sections ; track section) {
        <div class="col-md-4 mb-3">
          <h5>{{section.name}}</h5>
          <ul class="list-unstyled">
            @for (link of section.links ; track link) {
              <li>
                <a href="{{link.url}}" [target]="link.blank ? '_blank' : '_self'" class="text-white text-decoration-none">
                  {{link.name}}
                </a>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
  <div class="text-center py-3 border-top">
    <p class="mb-0">&copy; {{ copyright }}</p>
  </div>
</footer>
