.openapi-toggle {
  position: fixed;
  top: 80px;
  right: 30px;
  text-align: right;
  width: 50px;
}

::ng-deep tabset .nav-tabs .nav-link.active {
  color: var(--custom-primary);
}

::ng-deep tabset .nav-tabs .nav-link {
  color: var(--bs-body-color);
}
