<div class="row">
    <div class="col-md-auto sizable">
        <app-openapi-workspace></app-openapi-workspace>
    </div>
    <div class="col border-start">
      <div class="container mt-5">
        <div *ngIf="activeProduct !== null" class="row">
          <div class="col mb-5">
            <h1 [id]="escapeId(activeProduct.name)">{{activeProduct.name}}</h1>
            <markdown [disableSanitizer]="true" [src]="activeProduct.description"></markdown>
          </div>
        </div>
        <div *ngIf="activeDomain !== null" class="row">
          <div class="col mb-5">
            <h2 [id]="escapeId(activeDomain.name)">{{activeDomain.name}}</h2>
            <markdown [disableSanitizer]="true" [src]="activeDomain.description"></markdown>
          </div>
        </div>
        <div *ngIf="activeService !== null" class="row">
          <div class="col mb-5 d-flex justify-content-between align-items-center">
            <h3 [id]="escapeId(activeService.name)">{{activeService.name}}</h3>
            <div class="d-flex align-items-center">
              <div *ngIf="activeService?.status != null" class="d-flex me-3 gap-2">
                <span *ngIf="activeService?.status == 'active'" class="badge text-bg-success fs-6 py-2 px-3">{{activeService?.status}}</span>
                <span *ngIf="activeService?.status == 'development'" class="badge text-bg-warning fs-6 py-2 px-3">{{activeService?.status}}</span>
                <span *ngIf="activeService?.status == 'planned'" class="badge text-bg-info fs-6 py-2 px-3">{{activeService?.status}}</span>
                <span *ngIf="activeService?.status == 'deprecated'" class="badge text-bg-danger fs-6 py-2 px-3">{{activeService?.status}}</span>
              </div>
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle"
                        aria-controls="dropdown-basic">{{activeServiceContent?.displayVersion}}<span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  @for (serviceContent of sortServiceContent(activeService.content) ; track serviceContent.version) {
                    <li (click)="onDropdownChange(serviceContent)" [attr.data-version-raw-id]="serviceContent.version" role="menuitem"><a class="dropdown-item" href="#">{{serviceContent.displayVersion}}</a></li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeService !== null" class="row">
          <tabset class="service-tabs" *ngIf="activeService?.overview == true" [justified]="true">
            <tab heading="Overview">
              <div class="border-start border-end pt-5 pb-5" style="padding: 0 20px;">
                <app-overview [service]="activeService"></app-overview>
              </div>
            </tab>
            <tab *ngIf="activeServiceContent?.openAPI != null" heading="Swagger UI">
              <div class="col border-start border-end">
                <app-openapi-swagger-ui [openAPI]="activeServiceContent?.openAPI"></app-openapi-swagger-ui>
              </div>
            </tab>
            <tab *ngIf="activeServiceContent?.openAPI != null" heading="OpenAPI" (selectTab)="onSelect($event)">
              <div class="col border-start border-end">
                <app-openapi-yaml-editor [openAPI]="activeServiceContent?.openAPI"></app-openapi-yaml-editor>
              </div>
            </tab>
            <tab *ngIf="activeServiceContent?.description != null" heading="Description">
              <div class="border-start border-end p-5" style="padding: 0 20px;">
                <markdown [disableSanitizer]="true" [src]="activeServiceContent?.description"></markdown>
              </div>
            </tab>
          </tabset>
          <tabset *ngIf="activeService?.overview !== true" [justified]="true">
            <tab *ngIf="activeServiceContent?.openAPI != null" heading="Swagger UI">
              <div class="col border-start border-end">
                <app-openapi-swagger-ui [openAPI]="activeServiceContent?.openAPI"></app-openapi-swagger-ui>
              </div>
            </tab>
            <tab *ngIf="activeServiceContent?.openAPI != null" heading="OpenAPI" (selectTab)="onSelect($event)">
              <div class="col border-start border-end">
                <app-openapi-yaml-editor [openAPI]="activeServiceContent?.openAPI"></app-openapi-yaml-editor>
              </div>
            </tab>
            <tab *ngIf="activeServiceContent?.description != null" heading="Description">
              <div class="border-start border-end p-5" style="padding: 0 20px;">
                <markdown [disableSanitizer]="true" [src]="activeServiceContent?.description"></markdown>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
</div>
