<div class="row">
    <div class="col-md-auto sizable">
        <app-openapi-workspace></app-openapi-workspace>
    </div>
    <div class="col border-start">
      <div class="container mt-5">
        <div class="row">
          <div class="col mb-5">
            <h1>Coffee Shop</h1>
            <p>
              The Coffee Shop API is a robust and scalable backend service designed to streamline operations for modern coffee shops. It provides endpoints for managing menu items, orders, customers, and inventory, ensuring seamless integration with POS systems and mobile applications. With features like real-time order tracking, customer loyalty programs, and payment processing, the API enhances the user experience for both customers and baristas. Built with RESTful principles, it supports secure authentication, role-based access control, and third-party integrations for delivery and analytics. This API empowers coffee shop owners to optimize workflows and deliver a superior coffee experience.
            </p>
          </div>
        </div>
        <div class="row">
          <tabset [justified]="true">
            <tab heading="Swagger UI">
              <div class="col border-start border-end">
                <app-openapi-swagger-ui></app-openapi-swagger-ui>
              </div>
            </tab>
            <tab heading="OpenAPI" (selectTab)="onSelect($event)">
              <div class="col border-start border-end">
                <app-openapi-yaml-editor></app-openapi-yaml-editor>
              </div>
            </tab>
            <tab heading="Description">
              <div class="border-start border-end pt-5 pb-5" style="padding: 0 20px;">
                <markdown src="assets/coffee-shop.md"></markdown>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
</div>
