<div class="m-5">
  <div class="col-md-12 mb-5">
    <div *ngIf="service?.tags != null" class="d-flex me-3 gap-2">
      @for (tag of service?.tags ; track tag) {
        <span class="badge text-bg-light fs-6 py-2 px-3">{{tag}}</span>
      }
    </div>
  </div>
  <div class="col-md-6">
    <p>
      <strong>Name</strong><br>
      {{ service?.name }}
      <br><br>
      <ng-template [ngIf]="service?.summary">
        <strong>Summary</strong><br>
        {{ service?.summary }}
      </ng-template>
    </p>
  </div>
  <div class="col-md-6">

  </div>
</div>
