$custom-primary: #ed0000; // Your custom primary color
$custom-secondary: #1c2429; // Your custom secondary color
$custom-body-color-light: black; // Your custom light theme color
$custom-body-color-dark: white; // Your custom dark theme color
