// Import Bootstrap styles
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Define custom theme colors for light mode
$light-primary: #007bff; // Custom primary color for light mode
$light-secondary: #6c757d; // Custom secondary color for light mode
// Define other custom colors for light mode as needed

// Define custom theme colors for dark mode
$dark-primary: #6c757d; // Custom primary color for dark mode
$dark-secondary: #007bff; // Custom secondary color for dark mode
// Define other custom colors for dark mode as needed

// Override Bootstrap variables for light mode
$theme-colors: (
  "primary": $light-primary,
  "secondary": $light-secondary,
  // Override other theme colors for light mode
);

// Override Bootstrap variables for dark mode
$theme-dark-colors: (
  "primary": $dark-primary,
  "secondary": $dark-secondary,
  // Override other theme colors for dark mode
);

// Import Bootstrap utilities
@import "../node_modules/bootstrap/scss/utilities";