// Import Bootstrap styles
// Custom primary and secondary colors

@import "../src/colors.scss";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary-light:   $custom-primary;
$secondary-light: $custom-secondary;

$primary-dark:   $custom-primary;
$secondary-dark: $custom-secondary;

$primary:       $custom-primary;
$secondary:     $custom-secondary;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $custom-secondary;

$body-bg-dark: $custom-secondary;
$border-width: 2px;

$theme-colors: (
  "primary":    $primary-light,
  "secondary":  $secondary-light,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
);

$theme-dark-colors: (
  "primary":    $primary-dark,
  "secondary":  $secondary-dark,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

[data-bs-theme=light] {
  --bs-body-color: $custom-secondary;
}

[data-bs-theme=dark] {
  --bs-body-color: white;
}

.full-height {
  height: calc(100vh - 61px);
}

.sizable {
  resize: horizontal;
  overflow: auto;
}