<section class="content mt-5 mb-5">
  <div class="container">
    <div class="teaser row align-items-center p-5 text-white rounded shadow">
      <!-- Left: Title and Description -->
      <div class="col-md-6">
        <h1 class="title display-4">{{title}}</h1>
        <p class="lead">{{description}}</p>
        <a href="/explore" class="btn btn-outline-primary">Get Started</a>
      </div>
      <!-- Right: Logo or Title -->
      <div class="col-md-6 text-center">
        <img src="{{logo}}" alt="{{title}}" class="img-fluid" style="width: 60%;">
      </div>
    </div>
  </div>
</section>
