<div class="collection">
  <div class="header row">
    <div class="col-auto text-start collection-name">
      <p class="collapser" tooltip="{{domain.name}}" placement="top" (click)="collapse(true)" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <i *ngIf="isCollapsed" class="fa-solid fa-folder-closed"></i><i *ngIf="!isCollapsed" class="fa-regular fa-folder-open"></i> {{domain.name}}
      </p>
    </div>
  </div>
  <div class="elements row" id="collapseBasic" [collapse]="isCollapsed">
    @for (service of domain.services ; track service.name) {
      <div class="col-auto text-start collection-name service-name">
        <app-service [name]="name + '/' + service.name" [service]="service" (valueEmitted)="receiveValue($event)"></app-service>
      </div>
    }
  </div>
</div>
