
.margin-row {
    margin-top: 1rem;
}

.collection {

    .elements {
        .collection-name {
            padding-left: 20px;
        }
    }

    .collection-name {

        p {
            white-space: nowrap;
            overflow: hidden;
        }

        i {
            padding-right: 10px;
        }

    }

    .collection-options {
        i {
            padding-right: 5px;
        }
    }

}